@inherits LayoutComponentBase

<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container-fluid px-4">
        <a class="navbar-brand" href="/">DocQA</a>
    </div>
</nav>

<div class="container">
    @Body
</div>
